<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nuevo médico</h4>
        <h6 class="card-subtitle">Actualizar info</h6>
        <form
          class="form-horizontal p-t-20"
          [formGroup]="doctorForm"
          (submit)="saveDoctor()"
        >
          <div class="form-group row" *ngIf="selectedDoctor">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Imagen</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <img
                  [src]="selectedDoctor.img | img:'doctors'"
                  class="w200"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Nombre</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del médico"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Hospital</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" formControlName="hospital">
                  <option value="">Seleccione un hospital</option>
                  <option
                    *ngFor="let hospital of hospitals"
                    [value]="hospital._id"
                  >
                    {{ hospital.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
                [disabled]="doctorForm.invalid"
              >
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col animated fadeIn fast" *ngIf="selectedHospital">
    <div class="car">
      <div class="card-body">
        <h4 class="card-title">Hospital:</h4>
        <h6 class="card-subtitle mb-3">{{ selectedHospital.name }}</h6>
        <img [src]="selectedHospital.img | img: 'hospitals'" class="hPhoto" />
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
