<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfil de usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>

        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (submit)="updateProfile()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Nombre del usuario"
                formControlName="name"
                [readOnly]="user.google"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email"
                formControlName="email"
                [readOnly]="user.google"
              />
            </div>
          </div>
          <div class="text-danger">
            <p *ngIf="error">
              * El mail está siendo utilizado por otro usuario
            </p>
          </div>
          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="profileForm.invalid"
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>

        <div class="text-center">
          <img
            [src]="user.imgUrl"
            alt="Imagen del usuario"
            class="img-avatar mb-3"
            *ngIf="!imgTemp"
            referrerpolicy="no-referrer"
          />
          <img
            [src]="imgTemp"
            alt="Imagen del usuario"
            class="img-avatar mb-3"
            *ngIf="imgTemp"
          />
        </div>

        <input type="file" (change)="changeImg($event.target.files[0])" />

        <br />
        <br />

        <button
          type="button"
          class="btn btn-success btn-block waves-effect waves-light m-r-10"
          [disabled]="!imgUp"
          (click)="uploadImg()"
        >
          <i class="fa fa-save"></i>
          Cambiar imagen
        </button>
      </div>
    </div>
  </div>
</div>
